<html xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/html">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!-- Javascript dependencies -->

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.3.min.js'></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- Local javascript files -->
    <script src="js/interpretation.js"></script>
    <script src="js/social_media.js"></script>
    <script src="js/comment.js"></script>
    <script src="js/date.js"></script>
</head>



<body ng-app="intApp">
<!-- Init facebook share button -->
<div id="fb-root"></div>
<script>
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>

<!--
now data is fetched from the server
todo: reconsider image link for interpretations type: http://inf5750-3.uio.no/api/{map,chart,reportTable,dataSetReport}s/mapid/data
todo: buttons for posting comments and posting to facebook

-->
<div class="row ">
    <p class="custom-header col-md-8 col-xs-8 col-xs-offset-3 col-md-offset-3">Share your own interpretations from <a href="http://inf5750-3.uio.no/dhis-web-pivot/index.html">Pivot table</a>, <a href="http://inf5750-3.uio.no/dhis-web-visualizer/index.html">Data visualizer</a>, <a href="http://inf5750-3.uio.no/dhis-web-mapping/index.html">GIS</a> or <a href="http://inf5750-3.uio.no/dhis-web-reporting/showDataSetReportForm.action">Data set report</a></p>
</div>
<div class="container center-block">
    <div ng-controller="ListCtrl">
        <ul ng-repeat="post in interpretations | orderBy:'-lastUpdated'" on-finish-render="done()">
            <div class="row border top-buffer col-xs-8 col-md-8 col-xs-offset-2 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-1 col-md-1">
                        <img class="img-responsive type" src="data/chart.png">
                    </div>
                    <div class="col-xs-6 col-md-6" id="{{post.id}}">
                        <a href = "{{post.user.href}}" class="text-info username"> {{post.user.name}} </a>
                        <p class="text-muted date">{{post.lastUpdated | date:"yyyy-mm-dd"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <p class="text-muted description">{{post.text}}</p>
                        <span>
                            <img class ="img-responsive img-main" ng-show="post.map.href" src= "{{post.map.href}}/data">
                            <img class ="img-responsive img-main" ng-show="post.chart.href" src= "{{post.chart.href}}/data">
                            <img class ="img-responsive img-main" ng-show="post.reportTable.href" src= "{{post.reportTable.href}}/data">
                            <img class ="img-responsive img-main" ng-show="post.dataSetReport.href" src= "{{post.dataSetReport.href}}/data">
                            <img class ="img-responsive img-main" ng-show="post.dataSet.href" src= "{{post.dataSet.href}}/data">
                        </span>
                    </div>
                </div>
                <div class="row col-xs-12 col-xs-12" ng-controller="MediaCtrl">
                    <input type="image" class="img-responsive col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3 button-buffer" src="data/facebook_long.png"  ng-click="share(post)" />
                    <input type="image" class="img-responsive col-md-3 col-xs-3 button-buffer" src="data/twitter_long.png"  ng-click="tweet(post.text, post.id)" />
                </div>

                <div id="commentsContainer" class="commentField col-md-12 col-xs-12">
                    <div class="row ">
                        <ul ng-repeat="comment in post.comments | orderBy:'-comment.lastUpdated'" on-finish-render="done()">
                            <div class="row col-md-12 col-xs-12 top-buffer">
                                <div class="col-md-2 col-xs-2">

                                    <a href = "{{comment.user.href}}" class="text.info commenter"> {{comment.user.name}} </a>
                                    <p class="text-muted date">{{comment.lastUpdated | date:"yyyy-mm-dd"}}</p>
                                </div>
                                <div class="col-md-9 col-xs-9">
                                    <span class="text-info description"> {{comment.text}}</span>
                                </div>
                                <div ng-controller="CommentController">
                                    <div class="col-md-1 col-xs-1 pull-right">
                                        <image class="delete-image pull-right" src="data/delete.jpg" ng-click="deleteComment(post.id, comment.id)"/>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div ng-controller="CommentController">
                        <div class="row top-buffer" id="commentSection">
                            <textarea class="col-md-12 col-xs-12 comment-border" ng-model="txtcomment" placeholder="Your Comment" rows="2" id="commentArea{{post.id}}"></textarea>
                        </div>
                        <div class="row top-buffer col-xs-offset-6 col-sm-offset-8 col-md-offset-9 col-lg-offset-10">
                            <button id = "new-board-btn" class = "btn btn-mini btn-primary bt"  type = "button" ng-click="add_comment(txtcomment, post.id);">Post Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
</body>
</html>
