.commentField{
    margin-top: 20px;
    border-top:ridge;
    border-width: thin;
}

textarea{
    resize: none;
    border:1px  #eeeeee solid;
}
.border{
    background-color:rgba(255, 255, 255, 0.81);
    font-family: century-gothic;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: #eeeeee;
    border-width: thin;
}

.container{

}
body{
    margin:0;
    background:url("data/cream_pixels.png") repeat fixed !important;
    background-size: cover;
}

ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:0px;
}​

span {
     padding-left: 0;
 }

.img-main {
    border-style: solid;
    border-width: thin;
    border-color: #eeeeee;
    margin: 0 auto;
    min-height: 500px;
}

.username {
    padding-left: 0%;
    font-size: 15px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.date {
    font-size: 10px;
    font-family: Helvetiva, sans-serif;
}

.description {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: black;
}

.type {
    width: 100%;
    padding-left: 0%;
    horiz-align: center;
}

.comment-box {

    display: inline-block;
    //background-color: #eeeeee;
    border-style: solid;
    border-width: thin;
    border-color: #BFBFBF;
    border-color: #eeeeee;
    padding-top: 5px;
}

.top-buffer {
    margin-top: 10px;
}
.left-buffer {
    margin-left: 15%;
}
.left-comment-buffer {
    margin-left: 5%;
}

.button-buffer {
    margin-top: 5px;
}

.link {
    width: 50px;
    padding-left: 8px;
}

.commenter {
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    vertical-align: middle;
}
.grey{
    background-color: #eeeeee;
}

.comment-border {
    border-radius: 3px;
}

.comment-thread {
    padding-left: 40px;
}

.comment-buffer {
    padding-top: 40px;
}

.comment-button {
    horiz-align: left;
    font-size: 8px;
    font-family: Helvetica, sans-serif;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: Helvetica, sans-serif;
    font-size: 12px;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.custom-header {
    padding-top: 45px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: black;
}

.delete-image {
    height: 10px;
    width: 10px;
    opacity: 0.2;
}

.delete-image:hover {
    height: 10px;
    width: 10px;
    opacity: 1.0;
}